 <h1><%= markdown_title @post.title %></h1>

 <div class="row">
   <div class="col-md-8">
   <%= render partial: 'favorites/favorite', locals: { post: @post } %>
   <%= render partial: 'votes/voter', locals: { post: @post} %>
     <small>
       <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
       submitted <%= time_ago_in_words(@post.created_at) %> ago by
       <%= @post.user.name %>
     </small>
     <p><%= markdown_body @post.body %></p>
     <%= image_tag(@post.image.url) if @post.image %>
   </div>
   <div class="col-md-4">
     <% if policy(@post).edit? %>
       <%= link_to "Edit", edit_topic_post_path(@topic,@post), class: 'btn btn-success' %>
     <% end %>
   </div>
 </div>
</br>

<div class="row">
<% if policy(@comment).create? %>
  <h2>Comments</h2>
  <div class='col-md-12'>
      <%= render partial: 'comments/form',locals: { topic: @topic, comment: @comment, post: @post} %>
      <%= render @comments %>
  </div>
  <% end %>
</div>
